extends ../layouts/application_layout

block content
  nav.mode
    button screen mode
    button print mode

  h2 Career

  div.entry
    button add career

  div.entry
    form(id="", method="", action="")
      h3
        | 2013
        button(type='button') edit
      dl
        dt
          input(type='text', value='6 or June')
          월
          button(type='button') add
        dd
          에스지인터넷 재직중
          button(type='button') edit
          button(type='button') delete
        dd
          input(type='text')
          select
            option company
            option skill
            option award
          button(type='button') add

  div.entry
    h3
      | 2013
      button edit
    dl
      dt 6월
      dd 에스지인터넷 재직중
      dd 직장명, 맡은 프로젝트, 상장, 습득한 스킬 등등 입력하는 공간
      dd 직장명, 맡은 프로젝트, 상장, 습득한 스킬 등등 입력하는 공간
      dd 직장명, 맡은 프로젝트, 상장, 습득한 스킬 등등 입력하는 공간

  div.entry
    h3
      | 2012
      button edit
    dl
      dt 6월
      dd 에스지인터넷 재직중
      dd 직장명, 맡은 프로젝트, 상장, 습득한 스킬 등등 입력하는 공간
      dd 직장명, 맡은 프로젝트, 상장, 습득한 스킬 등등 입력하는 공간
      dd 직장명, 맡은 프로젝트, 상장, 습득한 스킬 등등 입력하는 공간

  div.entry
    h3
      | 2011
      button edit
    dl
      dt 6월
      dd 에스지인터넷 재직중
      dd 직장명, 맡은 프로젝트, 상장, 습득한 스킬 등등 입력하는 공간
      dd 직장명, 맡은 프로젝트, 상장, 습득한 스킬 등등 입력하는 공간
      dd 직장명, 맡은 프로젝트, 상장, 습득한 스킬 등등 입력하는 공간

  div.entry
    h3
      | 2010
      button edit
    dl
      dt 6월
      dd 에스지인터넷 재직중
      dd 직장명, 맡은 프로젝트, 상장, 습득한 스킬 등등 입력하는 공간
      dd 직장명, 맡은 프로젝트, 상장, 습득한 스킬 등등 입력하는 공간
      dd 직장명, 맡은 프로젝트, 상장, 습득한 스킬 등등 입력하는 공간